<!-- Body content split into two sections one for search area other for search results -->
<div class="container-fluid">
  <div class="row">
    <!-- Search bars area -->
      <div class="col searchBar">
        <form>
            <div class="form-group">
              <label for="breed">Breed</label>
              <select class="form-control" id="breed" name="breed" [(ngModel)]="model.breed">
                <option>Any</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="petAge">Age</label>
              <select class="form-control" id="petAge">
                <option>Any</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="gender">Gender</label>
              <select class="form-control" id="gender">
                <option>Any</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
        </form>
      </div>
      <!-- Search Results Area -->
      <div class="col-9 displayResults">
              <div class="card-columns mb-5">
                  <div class="card">
                      <img src="image/puppy1.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Pet Name</h5>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Breed</li>
                        <li class="list-group-item">Age</li>
                        <li class="list-group-item">Location</li>
                      </ul>
                    </div>
                  <div class="card">
                    <img src="image/puppy1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Pet Name</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Breed</li>
                      <li class="list-group-item">Age</li>
                      <li class="list-group-item">Location</li>
                    </ul>
                  </div>
                  <div class="card">
                    <img src="image/puppy1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Pet Name</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Breed</li>
                      <li class="list-group-item">Age</li>
                      <li class="list-group-item">Location</li>
                    </ul>
                  </div>
                  <div class="card">
                    <img src="image/puppy2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Pet Name</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Breed</li>
                      <li class="list-group-item">Age</li>
                      <li class="list-group-item">Location</li>
                    </ul>
                  </div>
                </div>
          </div>
      </div>
  </div>
